.footerDetaiStore {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.wrapperImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flagImage {
  width: 3rem;
  height: 1.5rem;
}
